<div class="slider">
  
    <a href="#slide-1">1</a>
    <a href="#slide-2">2</a>
    <a href="#slide-3">3</a>
    <a href="#slide-4">4</a>
    <a href="#slide-5">5</a>
    <a href="#slide-6">5</a>
    <a href="#slide-7">5</a>
    <a href="#slide-8">5</a>
    <a href="#slide-9">5</a>
    <a href="#slide-10">5</a>
    <a href="#slide-11">5</a>
    <a href="#slide-12">5</a>
    <a href="#slide-13">5</a>
    <a href="#slide-14">5</a>
    <a href="#slide-15">5</a>
    <a href="#slide-16">5</a>
    <a href="#slide-17">5</a>
    <a href="#slide-18">5</a>
    <a href="#slide-19">5</a>
    <a href="#slide-20">5</a>
   
  
    <div class="slides">
      <div id="slide-1">
        1
      </div>
      <div id="slide-2">
        2
      </div>
      <div id="slide-3">
        3
      </div>
      <div id="slide-4">
        4
      </div>
      <div id="slide-5">
        5
      </div>
      <div id="slide-6">
        5
      </div>
      <div id="slide-7">
        5
      </div>
      <div id="slide-8">
        5
      </div>
      <div id="slide-9">
        5
      </div>
      <div id="slide-10">
        5
      </div>
      <div id="slide-11">
        5
      </div>
      <div id="slide-12">
        5
      </div>
      <div id="slide-13">
        5
      </div>
      <div id="slide-14">
        5
      </div>
      <div id="slide-15">
        5
      </div>
      <div id="slide-16">
        5
      </div>
      <div id="slide-17">
        5
      </div>
      <div id="slide-18">
        5
      </div>
      <div id="slide-19">
        5
      </div>
      <div id="slide-20">
        5
      </div>
  </div>