<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">MOM N SPOT</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    {% if user.is_authenticated %}
        <div class="navbar-menu navbar-end">
            <span class="navbar-item">Welcome: {{user.username}}</span>
            <a class="navbar-item" href="{% url 'uploadtest' %}">Post a story</a>
            <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
        </div>
    {% else %}
        <div class="navbar-menu navbar-end">
        <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
        <a class="navbar-item" href="{% url 'login' %}">Log In</a>
        </div>
    {% endif %}
</nav>