{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block title %}
- Details
{% endblock title %}

{% block content %}
<div class="detail__img">
    <img src="{{post.img.url}}" alt="{{post.shop_name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{post.shop_name}}</h1>
</div>
    <div class="detail__container">
        <!-- inside container -->
        <div class="detail__posts mb-5">
            <h3 class="title is-3">Mom n Spots</h3>
            {% for post in posts %}
            <div class="posts">
                <span>{{forloop.counter}}</span>
                    <span><b>{{post.shop_name}}</b></span>
                    <img src="{{post.img.url}}" /> || <embed src="{{post.img.url}}"> 
                    <span>{{post.story}}</span>
                    <span>{{post.neighborhood}}</span>
                    <span>{{post.address}}</span>
            </div>
            <span>
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button
                            class="button"
                            aria-haspopup="true"
                            aria-controls="dropdown-menu">
                            <span>Add To Tags</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for tag in tags %}
                            <a
                                href="{% url 'tag_post_assoc' tag.pk post.pk %}?assoc=add"
                                class="dropdown-item">
                            {{tag.title}}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </span>
            {% empty %}
                <article class="message">
                    <div class="message-header">
                        <p>Oh no, you haven't posted any Mom n Spots!</p>
                    </div>
                </article>
            {% endfor %}
        </div>
        <form class="mb-5" action="{% url 'post_create' %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                    class="input"
                    type="text"
                    name="title"
                    placeholder="Tag Name"
                    required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Mom n Spot" />
                </div>
            </div>
        </form>
        
        <a href="{% url 'post_delete' post.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
</div>
{% endblock %}