{% extends 'index.html' %}


{% block title %}
- My List
{% endblock title %}

{% block content %}

<h1 class="title">{{header}}</h1>

<div class="columns is-mobile is-centered">
    <a class="button" href="{% url 'post_list_all' %}" id="my-button">
        <p class="md-text">return to all mom n spots</p>
    </a>
</div>
<div class="gallery">
    {% for post in posts %}
    <a href="{% url 'post_detail' post.pk %}">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img src="{{post.img.url}}" alt="{{post.shop_name}}" />
                </figure>
            </div>
            <div class="card-header">
                <p class="card-header-title">{{post.shop_name}} ({{post.neighborhood}})</p>
            </div>
            <div class="card-body">
                <p>{{post.story}}</p>
            </div>
            <div class="card-footer">
                <p>Posted by Mom n Spotter: {{user.username}}</p>
            </div>
        </div>
    </a> 
    {% endfor %}
</div>
{% endblock %}


