{% extends 'base.html' %} 

{% block title %} Upload Spot{% endblock %}

{% block content %}  
<h2>Post a Mom n Spot</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="img" accept="image/*">
    <button class="btn btn-dark my-4" type="submit">Submit</button>
</form>
<!-- <div class="container">
    Simple Form
    <h2 class="my-4">Upload image</h2>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="file" name="upload" accept="image/*">
        <br>
        <button class="btn btn-dark my-4" type="submit">Submit</button>
    </form> -->

    <!-- See Image Uploaded
    <h2 class="my-4">Movie Poster</h2>
    <div class="row">
    {% if file_url %}
    <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
        <img src="{{ file_url }}" class="img-fluid">
        <br>
    {% else %}
    <p>No photos were successfully uploaded</p>
    {% endif %}
    </div>
</div> -->
    

{% endblock %}